body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    overflow-y: auto;
}
#main {
    padding: 1em;
}
h1,
h2 {
    text-align: center;
    margin: 0;
}
::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    transition: all .1s linear;
    border-radius: 50%
}

::-webkit-scrollbar-track {
    background: transparent
}

::-webkit-scrollbar-track:hover {
    background: rgba(0,0,0,.2)
}
::-webkit-scrollbar-thumb {
    background: #a5abb1
}
#settings {
    padding: 1em;
    overflow-y: auto;
    max-height: 100vh;
}
#version {
    color: black;
    text-align: center;
    margin: auto;
    display: block;
}
hr {
    margin: 0;
    width: calc(100vw - 2em);
}
#settings h6 {
    float: left;
    padding-right: 1em;
    padding-top: 1.1em;
}
#settings h4:not(:first-child) {
    margin-top: 0;
}
ul {
    margin-top: 0;
}
.secret {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    letter-spacing: -3px;
    color: transparent;
    text-shadow: 0 0 5px rgba(0,0,0,.1);
}
.inputF {
    float: right;
}
#keybindings div h6 {
    float: left;
}
#keybindings div div {
    float: right;
}
.clear {
    clear: both;
}
.clearThis {
    min-width: 0;
    height: 1em;
    width: 1em;
    padding: 0.60em;
    z-index: 2;
    position: relative;
    right: -13.25em;
    top: 0.5em;
}
#darkMode {
    position: absolute;
}
#other h6 {
    float: left;
    margin-top: 0;
    margin-right: 1em;
}
#other label {
    width: auto !important;
    float: left;
}

.is-checked .mdl-switch__track {
    background: rgba(255,64,129,0.5) !important;
}
.is-checked .mdl-switch__thumb {
    background: rgb(255,64,129) !important;
}
#resetSession {
    float: right;
    position: relative;
    top: -0.5em;
    margin-right: 1em;
    background-color: rgb(63,81,181);
}
#resetSession a {
    color: white;
}
#languageSelection {
    float: right;
}
#languageSelection select {
    font-size: 14px;
    padding: 5px;
}
#loadBot h4 {
    margin-bottom: 0.5em;
    float: left;
    margin-top: 0;
    margin-right: 1em;
}
#loadBot *[for='use_bot'] {
    width: auto !important;
    float: left;
    margin-top: 0.3em;
}
#key-info {
    margin-bottom: 1em;
}
#key-info ul {
    margin-bottom: 0;
}
#loadBot {
    display: none;
}
#testBot {
    float: right;
    background-color: rgb(63,81,181);
}
#testBot a {
    color: white;
}
#testBot:disabled {
    background-color: gray !important;
}


/*Dark Mode*/
html.darkMode .is-checked .mdl-switch__track {
    background: rgba(62, 224, 156, 0.498039) !important;
}
html.darkMode .is-checked .mdl-switch__thumb {
    background: rgb(62, 224, 156) !important;
}
html.darkMode body {
    color: white;
    background-color: rgb(48, 48, 48);
}
html.darkMode #version {
    color: white;
}
html.darkMode label.mdl-textfield__label {
    color: orange !important;
}
html.darkMode a {
    color: #3EE09C;
}
html.darkMode input {
    border-bottom: 1px solid rgba(255,255,255,0.2) !important;
}
html.darkMode .secret {
    text-shadow: 0 0 7.5px rgba(255,255,255,0.3) !important;
}
html.darkMode .mdl-icon-toggle.is-checked .mdl-icon-toggle__label {
    color: orange !important;
}
html.darkMode button.clearThis {
    background-color: lightgrey !important;
}
html.darkMode label.mdl-textfield__label.is-invalid::after {
    background-color: red !important;
}
html.darkMode label.mdl-textfield__label::after {
    background-color: orange;
}
html.darkMode #resetSession {
    background-color: #CC5500;
}
html.darkMode #languageSelection select {
    border: 1px solid #000;
    color: #fff;
    background: #444;
}
html.darkMode #testBot {
    background-color: #CC5500;
}
