body {
    min-height: auto;
    height: auto;
    overflow: hidden;
}
webview {
    height: 100vh;
    width: 100vw;
}
#error {
    margin: auto;
    text-align: center;
    padding-top: 3em;
    font-size: 1em;
    height: 100vh;
}
.center_loader {
    position: relative;
    height: 5em;
    width: 5em;
}
.centered-axis-xy {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.frame {
    height: 100vh;
    width: 100vw;
}
#updateProgress {
    position: absolute;
    top: 12%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    max-width: 50vw;
}
.hidden {
    display: none !important;
}
.progressbar {
    max-width: 99%;
}

html.darkMode #error,
html.darkMode body,
html.darkmode webview {
    background-color: rgb(33, 33, 33);
    color: white;
}
html.darkMode a {
    color: #3EE09C;
}
