a.md-primary.md-button.md-ink-ripple {
  display: none !important;
}
md-card._md:nth-of-type(2) {
  margin-bottom: 0 !important;
}
img {
  pointer-events: none !important;
}
.mod-approval .md-primary.md-subheader._md .md-subheader-content {
  cursor: pointer !important;
}
.flex.md-button.md-ink-ripple md-icon {
  cursor: pointer !important;
}
.material-icons {
  cursor: pointer;
}
.gc-banner-activity {
  display: none;
}
iframe#launcher {
  display: none !important;
}
.layout-align-space-around-center {
  padding-right: 5em;
}

/* Dark mode */
html.darkMode p {
  color: white;
}
html.darkMode body,
html.darkMode md-content {
  background-color: rgb(33, 33, 33);
}
html.darkMode md-card,
html.darkMode md-list-item,
html.darkMode div.md-primary.md-subheader._md {
  background-color: rgb(48, 48, 48) !important;
}
html.darkMode .filter._md *,
html.darkMode div.md-list-item-text.event-section.layout-column a *,
html.darkMode div.md-list-item-text.event-section.layout-column h4 *,
html.darkMode div.md-list-item-text.event-section.layout-column .next-to-replay,
html.darkMode div.md-list-item-text.event-section.layout-column .event-message {
  color: rgba(255, 255, 255, 0.8);
}
html.darkMode a.md-primary *,
html.darkMode .md-subheader-inner *,
html.darkMode button.md-primary,
html.darkMode button.md-primary * {
  color: orange !important;
}
html.darkMode .md-checked .md-icon {
  background-color: #3EE09C !important;
}
html.darkMode .md-checked .md-icon::after {
  border-color: black !important;
}
html.darkMode .md-checked .md-thumb-container .md-thumb {
  background-color: rgb(62, 224, 156);
}
html.darkMode .md-checked .md-container .md-bar {
  background-color: rgba(62, 224, 156, 0.498039);
}
html.darkMode .ads-control {
  color: white !important;
}
html.darkMode .event-username {
  color: rgba(255, 255, 255, 0.9) !important;
}
html.darkMode p.event-message a {
  color: #a4fffc !important;
}
html.darkMode p.mb-event-type {
  color: rgba(255, 255, 255, 0.54) !important;
}
html.darkMode .md-display-1.ng-scope {
  color: rgba(255, 255, 255, 0.8);
}

/* Compact Mode */
html.compact md-list-item {
  min-height: 0 !important;
}
html.compact button.replay-event-button span.ng-scope {
  display: none;
}
html.compact md-list-item .md-avatar {
  height: 2em !important;
  width: 2em !important;
}
html.compact button.replay-event-button {
  min-width: 0;
  min-height: 0;
  top: 1.3em;
  height: 2.125em;
  padding: 0;
  margin: 0 0.75em 0 0;
}
html.compact button.replay-event-button md-icon {
  position: relative;
  top: -0.125;
}
html.compact span.event-time.next-to-replay {
  padding-top: calc(0.2em + 1px);
  right: 3.5em;
  top: 1em;
}
html.compact img.md-avatar {
  margin-bottom: 0;
}
html.compact md-list-item.md-2-line img.md-avatar {
  margin-top: 0.2em;
}
html.compact md-list-item.md-3-line img.md-avatar {
  margin-top: 0.5em;
}
html.compact md-list-item:before {
  min-height: 0;
}
html.compact div.md-list-item-text.event-section {
  padding: 0.7em 0.7em 0.7em 0 !important;
}
html.compact md-list-item.md-3-line div.md-list-item-text.event-section {
  padding-top: 0.1em !important;
  padding-bottom: 0 !important;
}
html.compact p.event-message.ng-binding {
  padding-right: 0.5em;
}
html.compact a.event-username {
  font-weight: bold;
  font-size: 1.1em;
}
html.compact h4[ng-switch="event.type"] span {
  position: relative;
  top: -1px;
}
html.compact span[ng-switch-when="subscriber"] span {
  top: 0;
}
html.compact span[ng-switch-when="host"] span {
  top: 0;
}
html.compact button.replay-event-button span {
  display: none !important;
}
