body {
    min-height: auto;
    height: auto;
    overflow: hidden;
}
#buttons {
    position: absolute;
    top: 0.75em;
    right: 1em;
    z-index: 2;
}
#buttons button {
    min-width: 0;
    height: 1em;
    width: 1em;
    padding: 0.75em;
    margin-left: 0.25em;
}
#pop_frame,
#sr_frame {
    height: 100vh;
    width: 100vw;
    border: none;
    z-index: 1;
}
#noToken,
#invToken {
    display: none;
    margin: auto;
    text-align: center;
    margin-top: 2em;
    font-size: 1em;
}
.center_loader {
    position: relative;
    height: 5em;
    width: 5em;
}
.centered-axis-xy {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.load {
    visibility: visible !important;
    display: flex !important;
    position: absolute !important;
    bottom: 1px !important;
    right: 1px !important;
}
