#nav {
    display: "none";
    position: fixed;
    top: 0.75em;
    right: 1em;
    z-index: 2;
}

#nav button {
    min-width: 0;
    height: 1em;
    width: 1em;
    padding: 0.75em;
    margin-left: 0.25em;
    display: none;
}

html.darkMode #nav button {
    background-color: lightgray !important;
}