body {
    min-height: auto;
    height: auto;
}
::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    transition: all .1s linear;
    border-radius: 50%
}

::-webkit-scrollbar-track {
    background: transparent
}

::-webkit-scrollbar-track:hover {
    background: rgba(0,0,0,.2)
}
::-webkit-scrollbar-thumb {
    background: #a5abb1
}
#title {
    margin: auto;
    margin-top: 0.5em;
    text-align: center;
}
#back {
    position: absolute;
    top: 0.75em;
    left: 0.75em;
}
#settings {
    margin: 0 1em;
}
#version {
    color: black;
    text-align: center;
    margin: auto;
    display: block;
}
hr {
    margin: 0;
    width: calc(100vw - 2em);
}
#settings h6 {
    float: left;
    margin-right: 1em;
    margin-top: 1.1em;
}
#settings h4:not(:first-child) {
    margin-top: 0;
}
ul {
    margin-top: 0;
}
.secret {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    letter-spacing: -3px;
    color: transparent;
    text-shadow: 0 0 5px rgba(0,0,0,.1);
}
.inputF {
    float: right;
    margin-right: 2em;
}
.clear {
    clear: both;
}